<h2 class="mb-4 display-4 shadow-lg p-3 mb-5 bg-white rounded">Diabetes Events In Your Area</h2>

<div class="container mb-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <%= image_tag("logos/runner.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Tour De Cure</h5>
          <h6 class="card-subtitle mb-2 text-muted">April 19, 2019</h6>
          <p class="card-text">our de Cure is more than just a ride, walk or run– it is a celebration of the ADA’s mission and a chance to raise critical funds to help fight diabetes. Every mile covered and every dollar raised brings us that much closer to a cure. After registering you will have access to your Participant Center, which is your fundraising hub. You will have a personal page to share your story, mobile apps, email templates and more. Fundraising has never been easier...</p>
          <%= link_to 'American Diabetes Association', 'http://main.diabetes.org/site/TR/TourdeCure/TourAdmin?fr_id=12748&pg=entry', class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <%= image_tag("logos/jdrf.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"> Juvenile Diabetes Research Foundation Upstate Gala </h5>
          <h6 class="card-subtitle mb-2 text-muted">March 16, 2019</h6>
          <p class="card-text">Our research investments deliver on the promise of making life with T1D better...</p>
          <%= link_to 'Juvenile Diabetes', 'https://www.jdrf.org/gwc/events/jdrf-2019-upstate-gala/', class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <%= image_tag("logos/health.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"> Black Expo South </h5>
          <h6 class="card-subtitle mb-2 text-muted">March 10, 2019</h6>
          <p class="card-text">The Expo is a forum to educate, enlighten and inspire the entire community and the African-American community in particular. Aside from economic development, exposure to cultural resources...</p>
          <%= link_to 'Black Expo South', 'https://www.blackexposouth.com/', class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
