<h1 class="card-header mb-4 display-4 shadow-lg p-3 mb-5 bg-white rounded">Local Discounts on Diabetic Medications and Testing Supplies</h1>

<div class="container">
  <div class="row">
    <% @supplies.each do |supply| %>
      <div class="col-sm-6">
        <div class="card shadow-sm mb-4">
          <h4 class="card-header bg-secondary text-white">
            <%= supply.brand %> <%= supply.name %>
          </h4>

          <div class="card-body">
            <h4>UPC: <%= supply.upc %></h4>
            <% if current_user %>
              <% local_discounts = supply.discounts.local_to_user(current_user).first(10) %>
              <% discounts = local_discounts.any? ? local_discounts : supply.discounts.first(2) %>
            <% else %>
              <% discounts = supply.discounts.first(2) %>
            <% end %>
            <dl class="row">
              <% discounts.each do |discount| %>
                <dt class="col-sm-9"><%= discount.pharmacy %></dt>
                <dd class="col-sm-3"><%= discount.price %></dd>
              <% end %>
            </dl>
            <%= link_to "See more discounts in your area", supply_discounts_path(supply), class: "btn btn-primary" %>
            <%# paginate @supplies %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
