<!DOCTYPE html>
<html>
<head>
    <title>AffordDBMBEtoria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1 class="card-header mb-4 display-4"> List of Diabetes Specific Resources: </h1>

  <div class="card mb-4">
    <h2 class="text-secondary"> Diabetes Care Providers In Your Area: </h2>
    <div class="logos_1">
      <%= image_tag("logos/ds.jpg", width: "200px") %>
      <button><%= link_to 'Greenville Hospital System', 'https://www.ghs.org/healthcareservices/medicine/endocrinology-diabetes/' %></button>
    </div>
  </div>

  <div class="card mb-4">
    <h2 class="text-secondary"> Latest Advances In Diabetic Care: </h2>
    <div class="logos_2">
      <%= image_tag("logos/advances.jpg", width: "200px") %>
      <button><%= link_to 'WebMD', 'https://www.webmd.com/diabetes/features/diabetes-treatment-trends#1' %></button>
    </div>
  </div>

  <div class="card mb-4">
    <h2 class="text-secondary"> Scholarly Publications On Diabetes Care: </h2>
    <div class="logos_3">
      <%= image_tag("logos/scholar.jpg", width: "200px") %>
      <button><%= link_to 'Centers for Disease Control and Prevention', 'https://www.cdc.gov/diabetes/library/index.html' %></button>

      <button><%= link_to 'American Diabetes Association', 'http://www.diabetesjournals.org/' %></button>
    </div>
  </div>
<%= yield %>
</body>
</html>
