<h2 class="mb-4 display-4 shadow-lg p-3 mb-5 bg-white rounded">List of Diabetes Specific Resources</h2>

<div class="container mb-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
         <%= image_tag("logos/ds.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Diabetes Care Providers In Your Area</h5>
          <h6 class="card-subtitle mb-2 text-muted">November 16, 2018</h6>
          <p class="card-text">Endocrinologists treat disorders of the endocrine system—the glands and the hormones they make. These disorders include diabetes, hyperthyroidism, and other conditions related to the pituitary, thyroid, adrenals, ovaries, testes and pancreas. Endocrinologists also deal with metabolism, or all the biochemical processes that make your body work, including how your body changes food into energy and how it grows...</p>
          <%= link_to 'Greenville Hospital System', 'https://www.ghs.org/healthcareservices/medicine/endocrinology-diabetes/', class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
         <%= image_tag("logos/advances.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Latest Advances In Diabetic Care</h5>
          <h6 class="card-subtitle mb-2 text-muted">November 16, 2018</h6>
          <p class="card-text">Diabetes treatment gets better every day...In the meantime, new medications and insulin devices can make it easier and safer to live with diabetes..."We're getting more and more options," says Michael German, MD, clinical director of the Diabetes Center at the University of California, San Francisco. "That's good because no two people with diabetes are the same. It helps us get the right medicine for each person."</p>
          <%= link_to 'WebMD', 'https://www.webmd.com/diabetes/features/diabetes-treatment-trends#1', class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
         <%= image_tag("logos/scholar.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Scholarly Publications On Diabetes Care</h5>
          <h6 class="card-subtitle mb-2 text-muted">November 16, 2018</h6>
          <p class="card-text">Although you can wash away sugar spilled on a
          table, you cannot wash away a high blood sugar level by drinking water. However, you can control diabetes by eating healthy food, being physically active, controlling your weight, seeing your medical
          team regularly, taking prescribed medications, and
          monitoring your blood sugar often...The main sugar found in the...</p>
          <%= link_to 'Centers for Disease Control', 'https://www.cdc.gov/diabetes/library/index.html', class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
