<!DOCTYPE html>
<html>
  <head>
    <title>AffordDBMDEtoria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

    <% if notice %>
      <p class="notice bg-primary m-0 p-3"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert bg-warning m-0 p-3"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer-container">
      <p class="text-muted">Copyright 2018</p>
    </footer>
  </body>
</html>
